.container{
	margin-top: 5px;
}
.card{
	margin-top: 5px;
}
h1{
	padding: 20px;
	margin-top: 10px;
}
.user-name{
	padding: 10px;
}

.post-footer .btn, .topic-footer .btn{
	margin-left: 5px !important;
}
.badge{
	margin-right: 5px;
}
.card .card{
	margin-right: -20px !important;
}
nav{
	margin-bottom: 50px;
}